<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>404 Not Found - Lego Collection</title>
  </head>

  <div class="navbar bg-gray-800 p-1">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl text-white">Lego Collections</a>
    </div>

    <div class="navbar-center flex">
        <ul class="menu menu-horizontal px-1">
            <li><a href="/about" class="text-white">About</a></li>
            <li>
                <details>
                    <summary class="text-white">Themes</summary>
                    <ul class="p-2 bg-black right-0">
                        <li><a href="/lego/sets?theme=technic" class="text-white">Technic</a></li>
                        <li><a href="/lego/sets?theme=classic%20town" class="text-white">Classic Town</a></li>
                        <li><a href="/lego/sets?theme=supplemental" class="text-white">Supplemental</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</div>


    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 style="font-size: 3rem;" class="font-bold">404</h1>

            <p style="white-space: nowrap;">
              Oh no! Looks like we are unable to find what you are looking for!
            </p>
            <iframe src="https://giphy.com/embed/xUNda7pZlaJqmwmnW8" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/awkward-tfboys-tf-boys-xUNda7pZlaJqmwmnW8"></a></p>          
          </div>
        </div>
      </div>
    </div>

    <br />
  </body>
</html>
